
BEGIN TRANSACTION;
GO

ALTER TABLE [statistics].[Printer] ADD [EventOccurredDate] datetime2 NULL;
GO

ALTER TABLE [statistics].[DiagnosticBranch] ADD [EventOccurredDate] datetime2 NULL;
GO

ALTER TABLE [statistics].[Counter] ADD [EventOccurredDate] datetime2 NULL;
GO

ALTER TABLE [statistics].[Client] ADD [EventOccurredDate] datetime2 NULL;
GO

ALTER TABLE [statistics].[ClerkEvent] ADD [EventOccurredDate] datetime2 NULL;
GO

ALTER TABLE [statistics].[Clerk] ADD [EventOccurredDate] datetime2 NULL;
GO

ALTER TABLE [statistics].[Activity] ADD [EventOccurredDate] datetime2 NULL;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20230312193419_EventOccurredDate', N'6.0.9');
GO

COMMIT;
GO


