BEGIN TRANSACTION;
GO

ALTER TABLE [statistics].[Event] ADD [TransferReasonId] int NULL;
GO

ALTER TABLE [statistics].[Client] ADD [TransferReasonId] int NULL;
GO

CREATE TABLE [statistics].[TransferReason] (
    [TransferReasonId] int NOT NULL IDENTITY,
    [Description] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_TransferReason] PRIMARY KEY ([TransferReasonId])
);
GO

CREATE INDEX [IX_Event_TransferReasonId] ON [statistics].[Event] ([TransferReasonId]);
GO

CREATE INDEX [IX_Client_TransferReasonId] ON [statistics].[Client] ([TransferReasonId]);
GO

ALTER TABLE [statistics].[Client] ADD CONSTRAINT [FK_Client_TransferReason_TransferReasonId] FOREIGN KEY ([TransferReasonId]) REFERENCES [statistics].[TransferReason] ([TransferReasonId]);
GO

ALTER TABLE [statistics].[Event] ADD CONSTRAINT [FK_Event_TransferReason_TransferReasonId] FOREIGN KEY ([TransferReasonId]) REFERENCES [statistics].[TransferReason] ([TransferReasonId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20230324102011_TransferReason', N'6.0.9');
GO

COMMIT;
GO


