BEGIN TRANSACTION;
GO

ALTER TABLE [statistics].[Branch] ADD [ParentBranchId] int NULL;
GO

CREATE INDEX [IX_Branch_ParentBranchId] ON [statistics].[Branch] ([ParentBranchId]);
GO

ALTER TABLE [statistics].[Branch] ADD CONSTRAINT [FK_Branch_Branch_ParentBranchId] FOREIGN KEY ([ParentBranchId]) REFERENCES [statistics].[Branch] ([BranchId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20230626124444_ParentBranch', N'6.0.9');
GO

COMMIT;
GO


