
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

IF SCHEMA_ID(N'statistics') IS NULL EXEC(N'CREATE SCHEMA [statistics];');
GO

IF SCHEMA_ID(N'app') IS NULL EXEC(N'CREATE SCHEMA [app];');
GO

CREATE TABLE [app].[App] (
    [AppId] int NOT NULL IDENTITY,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [Name] nvarchar(max) NOT NULL,
    [ShowBranches] bit NOT NULL,
    CONSTRAINT [PK_App] PRIMARY KEY ([AppId])
);
GO

CREATE TABLE [statistics].[ClerkStatus] (
    [ClerkStatusId] int NOT NULL IDENTITY,
    [Status] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_ClerkStatus] PRIMARY KEY ([ClerkStatusId])
);
GO

CREATE TABLE [statistics].[ClientStatus] (
    [ClientStatusId] int NOT NULL IDENTITY,
    [Status] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_ClientStatus] PRIMARY KEY ([ClientStatusId])
);
GO

CREATE TABLE [statistics].[CounterStatus] (
    [CounterStatusId] int NOT NULL IDENTITY,
    [Status] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_CounterStatus] PRIMARY KEY ([CounterStatusId])
);
GO

CREATE TABLE [statistics].[Diagnostic] (
    [DiagnosticId] int NOT NULL IDENTITY,
    [Description] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Diagnostic] PRIMARY KEY ([DiagnosticId])
);
GO

CREATE TABLE [statistics].[EventName] (
    [EventNameId] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_EventName] PRIMARY KEY ([EventNameId])
);
GO

CREATE TABLE [statistics].[Logger] (
    [LoggerId] int NOT NULL IDENTITY,
    [LogInfo] nvarchar(max) NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    CONSTRAINT [PK_Logger] PRIMARY KEY ([LoggerId])
);
GO

CREATE TABLE [statistics].[PacketDataType] (
    [ExtendedDataTypeId] int NOT NULL IDENTITY,
    [Description] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_PacketDataType] PRIMARY KEY ([ExtendedDataTypeId])
);
GO

CREATE TABLE [statistics].[PeriphType] (
    [PerihTypeId] int NOT NULL IDENTITY,
    [Description] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_PeriphType] PRIMARY KEY ([PerihTypeId])
);
GO

CREATE TABLE [statistics].[PrinterCurrentStatus] (
    [PrinterCurrentStatusId] int NOT NULL IDENTITY,
    [Description] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_PrinterCurrentStatus] PRIMARY KEY ([PrinterCurrentStatusId])
);
GO

CREATE TABLE [statistics].[PrinterPreviousStatus] (
    [PrinterPreviousStatusId] int NOT NULL IDENTITY,
    [Description] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_PrinterPreviousStatus] PRIMARY KEY ([PrinterPreviousStatusId])
);
GO

CREATE TABLE [statistics].[Reason] (
    [ReasonId] int NOT NULL IDENTITY,
    [Description] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Reason] PRIMARY KEY ([ReasonId])
);
GO

CREATE TABLE [statistics].[Region] (
    [RegionId] int NOT NULL IDENTITY,
    [RegionName] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Region] PRIMARY KEY ([RegionId])
);
GO

CREATE TABLE [app].[Role] (
    [RoleId] int NOT NULL IDENTITY,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [Name] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Role] PRIMARY KEY ([RoleId])
);
GO

CREATE TABLE [app].[User] (
    [UserId] int NOT NULL IDENTITY,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [Name] nvarchar(max) NOT NULL,
    [Login] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_User] PRIMARY KEY ([UserId])
);
GO

CREATE TABLE [statistics].[Clerk] (
    [ClerkId] int NOT NULL IDENTITY,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [Number] int NOT NULL,
    [CounterSignInId] int NOT NULL,
    [ClerkName] nvarchar(max) NOT NULL,
    [ClerkStatusId] int NULL,
    CONSTRAINT [PK_Clerk] PRIMARY KEY ([ClerkId]),
    CONSTRAINT [FK_Clerk_ClerkStatus_ClerkStatusId] FOREIGN KEY ([ClerkStatusId]) REFERENCES [statistics].[ClerkStatus] ([ClerkStatusId])
);
GO

CREATE TABLE [statistics].[Branch] (
    [BranchId] int NOT NULL IDENTITY,
    [RegionId] int NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [Online] bit NOT NULL,
    [VZP_code] nvarchar(max) NOT NULL,
    [BranchName] nvarchar(max) NOT NULL,
    [IpAddress] nvarchar(max) NOT NULL,
    [Port] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Branch] PRIMARY KEY ([BranchId]),
    CONSTRAINT [FK_Branch_Region_RegionId] FOREIGN KEY ([RegionId]) REFERENCES [statistics].[Region] ([RegionId]) ON DELETE CASCADE
);
GO

CREATE TABLE [app].[AppRole] (
    [AppsAppId] int NOT NULL,
    [RolesRoleId] int NOT NULL,
    CONSTRAINT [PK_AppRole] PRIMARY KEY ([AppsAppId], [RolesRoleId]),
    CONSTRAINT [FK_AppRole_App_AppsAppId] FOREIGN KEY ([AppsAppId]) REFERENCES [app].[App] ([AppId]) ON DELETE CASCADE,
    CONSTRAINT [FK_AppRole_Role_RolesRoleId] FOREIGN KEY ([RolesRoleId]) REFERENCES [app].[Role] ([RoleId]) ON DELETE CASCADE
);
GO

CREATE TABLE [app].[RoleUser] (
    [RolesRoleId] int NOT NULL,
    [UsersUserId] int NOT NULL,
    CONSTRAINT [PK_RoleUser] PRIMARY KEY ([RolesRoleId], [UsersUserId]),
    CONSTRAINT [FK_RoleUser_Role_RolesRoleId] FOREIGN KEY ([RolesRoleId]) REFERENCES [app].[Role] ([RoleId]) ON DELETE CASCADE,
    CONSTRAINT [FK_RoleUser_User_UsersUserId] FOREIGN KEY ([UsersUserId]) REFERENCES [app].[User] ([UserId]) ON DELETE CASCADE
);
GO

CREATE TABLE [statistics].[ClerkEvent] (
    [ClerkEventId] int NOT NULL IDENTITY,
    [ClerkId] int NOT NULL,
    [ClerkStatusId] int NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    CONSTRAINT [PK_ClerkEvent] PRIMARY KEY ([ClerkEventId]),
    CONSTRAINT [FK_ClerkEvent_Clerk_ClerkId] FOREIGN KEY ([ClerkId]) REFERENCES [statistics].[Clerk] ([ClerkId]) ON DELETE CASCADE,
    CONSTRAINT [FK_ClerkEvent_ClerkStatus_ClerkStatusId] FOREIGN KEY ([ClerkStatusId]) REFERENCES [statistics].[ClerkStatus] ([ClerkStatusId]) ON DELETE CASCADE
);
GO

CREATE TABLE [statistics].[Activity] (
    [ActivityId] int NOT NULL IDENTITY,
    [BranchId] int NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [Number] int NOT NULL,
    [ActivityName] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Activity] PRIMARY KEY ([ActivityId]),
    CONSTRAINT [FK_Activity_Branch_BranchId] FOREIGN KEY ([BranchId]) REFERENCES [statistics].[Branch] ([BranchId]) ON DELETE CASCADE
);
GO

CREATE TABLE [statistics].[BranchUser] (
    [BranchesBranchId] int NOT NULL,
    [UsersUserId] int NOT NULL,
    CONSTRAINT [PK_BranchUser] PRIMARY KEY ([BranchesBranchId], [UsersUserId]),
    CONSTRAINT [FK_BranchUser_Branch_BranchesBranchId] FOREIGN KEY ([BranchesBranchId]) REFERENCES [statistics].[Branch] ([BranchId]) ON DELETE CASCADE,
    CONSTRAINT [FK_BranchUser_User_UsersUserId] FOREIGN KEY ([UsersUserId]) REFERENCES [app].[User] ([UserId]) ON DELETE CASCADE
);
GO

CREATE TABLE [statistics].[Counter] (
    [CounterId] int NOT NULL IDENTITY,
    [BranchId] int NOT NULL,
    [CounterStatusId] int NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [Number] int NOT NULL,
    [CounterName] nvarchar(max) NOT NULL,
    [CustNum] nvarchar(max) NOT NULL,
    [ClerkSignInId] int NOT NULL,
    CONSTRAINT [PK_Counter] PRIMARY KEY ([CounterId]),
    CONSTRAINT [FK_Counter_Branch_BranchId] FOREIGN KEY ([BranchId]) REFERENCES [statistics].[Branch] ([BranchId]) ON DELETE CASCADE,
    CONSTRAINT [FK_Counter_CounterStatus_CounterStatusId] FOREIGN KEY ([CounterStatusId]) REFERENCES [statistics].[CounterStatus] ([CounterStatusId]) ON DELETE CASCADE
);
GO

CREATE TABLE [statistics].[DiagnosticBranch] (
    [DiagnosticBranchId] int NOT NULL IDENTITY,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [Pin] nvarchar(max) NULL,
    [PeriphNumber] int NULL,
    [DiagnosticData] nvarchar(max) NULL,
    [BranchId] int NULL,
    [DiagnosticId] int NULL,
    [PeriphTypeId] int NULL,
    CONSTRAINT [PK_DiagnosticBranch] PRIMARY KEY ([DiagnosticBranchId]),
    CONSTRAINT [FK_DiagnosticBranch_Branch_BranchId] FOREIGN KEY ([BranchId]) REFERENCES [statistics].[Branch] ([BranchId]),
    CONSTRAINT [FK_DiagnosticBranch_Diagnostic_DiagnosticId] FOREIGN KEY ([DiagnosticId]) REFERENCES [statistics].[Diagnostic] ([DiagnosticId]),
    CONSTRAINT [FK_DiagnosticBranch_PeriphType_PeriphTypeId] FOREIGN KEY ([PeriphTypeId]) REFERENCES [statistics].[PeriphType] ([PerihTypeId])
);
GO

CREATE TABLE [statistics].[Event] (
    [EventId] int NOT NULL IDENTITY,
    [BranchId] int NOT NULL,
    [EventNameId] int NOT NULL,
    [DiagnosticId] int NULL,
    [PrinterCurrentStateId] int NULL,
    [PrinterPreviousStateId] int NULL,
    [PeriphTypeId] int NULL,
    [PacketTypeId] int NULL,
    [ReasonId] int NULL,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [EventCode] nvarchar(max) NULL,
    [EventHour] int NOT NULL,
    [EventMinute] int NOT NULL,
    [EventSecond] int NOT NULL,
    [EventHex] nvarchar(max) NOT NULL,
    [ClientOrdinalNumber] int NULL,
    [Activity] int NULL,
    [Counter] int NULL,
    [PrinterNumber] int NULL,
    [NewActivity] int NULL,
    [NewCounter] int NULL,
    [NewClerk] int NULL,
    [EstimateWaiting] int NULL,
    [WaitingTime] int NULL,
    [ServiceWaiting] int NULL,
    [Clerk] int NULL,
    [ReasonSignout] int NULL,
    [DiagnosticPin] nvarchar(max) NULL,
    [DiagnosticPeriphTypeId] int NULL,
    [DiagnosticPeriphOrdinalNumber] int NULL,
    [DiagnosticData] nvarchar(max) NULL,
    [PacketNumOfBytes] int NULL,
    [PacketData] nvarchar(max) NULL,
    [DateReceived] nvarchar(max) NULL,
    [FullyProcessed] bit NOT NULL,
    CONSTRAINT [PK_Event] PRIMARY KEY ([EventId]),
    CONSTRAINT [FK_Event_Branch_BranchId] FOREIGN KEY ([BranchId]) REFERENCES [statistics].[Branch] ([BranchId]) ON DELETE CASCADE,
    CONSTRAINT [FK_Event_Diagnostic_DiagnosticId] FOREIGN KEY ([DiagnosticId]) REFERENCES [statistics].[Diagnostic] ([DiagnosticId]),
    CONSTRAINT [FK_Event_EventName_EventNameId] FOREIGN KEY ([EventNameId]) REFERENCES [statistics].[EventName] ([EventNameId]) ON DELETE CASCADE,
    CONSTRAINT [FK_Event_PacketDataType_PacketTypeId] FOREIGN KEY ([PacketTypeId]) REFERENCES [statistics].[PacketDataType] ([ExtendedDataTypeId]),
    CONSTRAINT [FK_Event_PeriphType_PeriphTypeId] FOREIGN KEY ([PeriphTypeId]) REFERENCES [statistics].[PeriphType] ([PerihTypeId]),
    CONSTRAINT [FK_Event_PrinterCurrentStatus_PrinterCurrentStateId] FOREIGN KEY ([PrinterCurrentStateId]) REFERENCES [statistics].[PrinterCurrentStatus] ([PrinterCurrentStatusId]),
    CONSTRAINT [FK_Event_PrinterPreviousStatus_PrinterPreviousStateId] FOREIGN KEY ([PrinterPreviousStateId]) REFERENCES [statistics].[PrinterPreviousStatus] ([PrinterPreviousStatusId]),
    CONSTRAINT [FK_Event_Reason_ReasonId] FOREIGN KEY ([ReasonId]) REFERENCES [statistics].[Reason] ([ReasonId])
);
GO

CREATE TABLE [statistics].[Printer] (
    [PrinterId] int NOT NULL IDENTITY,
    [BranchId] int NOT NULL,
    [PrinterCurrentStateId] int NOT NULL,
    [PrinterPreviousStateId] int NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [Number] int NOT NULL,
    [PrinterName] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Printer] PRIMARY KEY ([PrinterId]),
    CONSTRAINT [FK_Printer_Branch_BranchId] FOREIGN KEY ([BranchId]) REFERENCES [statistics].[Branch] ([BranchId]) ON DELETE CASCADE,
    CONSTRAINT [FK_Printer_PrinterCurrentStatus_PrinterCurrentStateId] FOREIGN KEY ([PrinterCurrentStateId]) REFERENCES [statistics].[PrinterCurrentStatus] ([PrinterCurrentStatusId]) ON DELETE CASCADE,
    CONSTRAINT [FK_Printer_PrinterPreviousStatus_PrinterPreviousStateId] FOREIGN KEY ([PrinterPreviousStateId]) REFERENCES [statistics].[PrinterPreviousStatus] ([PrinterPreviousStatusId]) ON DELETE CASCADE
);
GO

CREATE TABLE [statistics].[ClerkCounter] (
    [ClerksClerkId] int NOT NULL,
    [CountersCounterId] int NOT NULL,
    CONSTRAINT [PK_ClerkCounter] PRIMARY KEY ([ClerksClerkId], [CountersCounterId]),
    CONSTRAINT [FK_ClerkCounter_Clerk_ClerksClerkId] FOREIGN KEY ([ClerksClerkId]) REFERENCES [statistics].[Clerk] ([ClerkId]) ON DELETE CASCADE,
    CONSTRAINT [FK_ClerkCounter_Counter_CountersCounterId] FOREIGN KEY ([CountersCounterId]) REFERENCES [statistics].[Counter] ([CounterId]) ON DELETE CASCADE
);
GO

CREATE TABLE [statistics].[Client] (
    [ClientId] int NOT NULL IDENTITY,
    [BranchId] int NOT NULL,
    [ClerkId] int NULL,
    [ActivityId] int NULL,
    [PrinterId] int NULL,
    [CounterId] int NULL,
    [ClientStatusId] int NULL,
    [ClientDoneId] int NULL,
    [CreatedDate] datetime2 NOT NULL,
    [DeletedDate] datetime2 NULL,
    [Priority] bit NOT NULL,
    [ClientOrdinalNumber] int NOT NULL,
    [WaitingTime] int NOT NULL,
    [ServiceWaiting] int NOT NULL,
    CONSTRAINT [PK_Client] PRIMARY KEY ([ClientId]),
    CONSTRAINT [FK_Client_Activity_ActivityId] FOREIGN KEY ([ActivityId]) REFERENCES [statistics].[Activity] ([ActivityId]),
    CONSTRAINT [FK_Client_Branch_BranchId] FOREIGN KEY ([BranchId]) REFERENCES [statistics].[Branch] ([BranchId]) ON DELETE CASCADE,
    CONSTRAINT [FK_Client_Clerk_ClerkId] FOREIGN KEY ([ClerkId]) REFERENCES [statistics].[Clerk] ([ClerkId]),
    CONSTRAINT [FK_Client_ClientStatus_ClientStatusId] FOREIGN KEY ([ClientStatusId]) REFERENCES [statistics].[ClientStatus] ([ClientStatusId]),
    CONSTRAINT [FK_Client_Counter_CounterId] FOREIGN KEY ([CounterId]) REFERENCES [statistics].[Counter] ([CounterId]),
    CONSTRAINT [FK_Client_Printer_PrinterId] FOREIGN KEY ([PrinterId]) REFERENCES [statistics].[Printer] ([PrinterId]),
    CONSTRAINT [FK_Client_Reason_ClientDoneId] FOREIGN KEY ([ClientDoneId]) REFERENCES [statistics].[Reason] ([ReasonId])
);
GO

CREATE INDEX [IX_Activity_BranchId] ON [statistics].[Activity] ([BranchId]);
GO

CREATE INDEX [IX_AppRole_RolesRoleId] ON [app].[AppRole] ([RolesRoleId]);
GO

CREATE INDEX [IX_Branch_RegionId] ON [statistics].[Branch] ([RegionId]);
GO

CREATE INDEX [IX_BranchUser_UsersUserId] ON [statistics].[BranchUser] ([UsersUserId]);
GO

CREATE INDEX [IX_Clerk_ClerkStatusId] ON [statistics].[Clerk] ([ClerkStatusId]);
GO

CREATE INDEX [IX_ClerkCounter_CountersCounterId] ON [statistics].[ClerkCounter] ([CountersCounterId]);
GO

CREATE INDEX [IX_ClerkEvent_ClerkId] ON [statistics].[ClerkEvent] ([ClerkId]);
GO

CREATE INDEX [IX_ClerkEvent_ClerkStatusId] ON [statistics].[ClerkEvent] ([ClerkStatusId]);
GO

CREATE INDEX [IX_Client_ActivityId] ON [statistics].[Client] ([ActivityId]);
GO

CREATE INDEX [IX_Client_BranchId] ON [statistics].[Client] ([BranchId]);
GO

CREATE INDEX [IX_Client_ClerkId] ON [statistics].[Client] ([ClerkId]);
GO

CREATE INDEX [IX_Client_ClientDoneId] ON [statistics].[Client] ([ClientDoneId]);
GO

CREATE INDEX [IX_Client_ClientStatusId] ON [statistics].[Client] ([ClientStatusId]);
GO

CREATE INDEX [IX_Client_CounterId] ON [statistics].[Client] ([CounterId]);
GO

CREATE INDEX [IX_Client_PrinterId] ON [statistics].[Client] ([PrinterId]);
GO

CREATE INDEX [IX_Counter_BranchId] ON [statistics].[Counter] ([BranchId]);
GO

CREATE INDEX [IX_Counter_CounterStatusId] ON [statistics].[Counter] ([CounterStatusId]);
GO

CREATE INDEX [IX_DiagnosticBranch_BranchId] ON [statistics].[DiagnosticBranch] ([BranchId]);
GO

CREATE INDEX [IX_DiagnosticBranch_DiagnosticId] ON [statistics].[DiagnosticBranch] ([DiagnosticId]);
GO

CREATE INDEX [IX_DiagnosticBranch_PeriphTypeId] ON [statistics].[DiagnosticBranch] ([PeriphTypeId]);
GO

CREATE INDEX [IX_Event_BranchId] ON [statistics].[Event] ([BranchId]);
GO

CREATE INDEX [IX_Event_DiagnosticId] ON [statistics].[Event] ([DiagnosticId]);
GO

CREATE INDEX [IX_Event_EventNameId] ON [statistics].[Event] ([EventNameId]);
GO

CREATE INDEX [IX_Event_PacketTypeId] ON [statistics].[Event] ([PacketTypeId]);
GO

CREATE INDEX [IX_Event_PeriphTypeId] ON [statistics].[Event] ([PeriphTypeId]);
GO

CREATE INDEX [IX_Event_PrinterCurrentStateId] ON [statistics].[Event] ([PrinterCurrentStateId]);
GO

CREATE INDEX [IX_Event_PrinterPreviousStateId] ON [statistics].[Event] ([PrinterPreviousStateId]);
GO

CREATE INDEX [IX_Event_ReasonId] ON [statistics].[Event] ([ReasonId]);
GO

CREATE INDEX [IX_Printer_BranchId] ON [statistics].[Printer] ([BranchId]);
GO

CREATE INDEX [IX_Printer_PrinterCurrentStateId] ON [statistics].[Printer] ([PrinterCurrentStateId]);
GO

CREATE INDEX [IX_Printer_PrinterPreviousStateId] ON [statistics].[Printer] ([PrinterPreviousStateId]);
GO

CREATE INDEX [IX_RoleUser_UsersUserId] ON [app].[RoleUser] ([UsersUserId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20221116094425_Initialize', N'6.0.9');
GO

COMMIT;
GO


