
BEGIN TRANSACTION;
GO

DECLARE @var0 sysname;
SELECT @var0 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[statistics].[Printer]') AND [c].[name] = N'EventOccurredDate');
IF @var0 IS NOT NULL EXEC(N'ALTER TABLE [statistics].[Printer] DROP CONSTRAINT [' + @var0 + '];');
ALTER TABLE [statistics].[Printer] DROP COLUMN [EventOccurredDate];
GO

DECLARE @var1 sysname;
SELECT @var1 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[statistics].[DiagnosticBranch]') AND [c].[name] = N'EventOccurredDate');
IF @var1 IS NOT NULL EXEC(N'ALTER TABLE [statistics].[DiagnosticBranch] DROP CONSTRAINT [' + @var1 + '];');
ALTER TABLE [statistics].[DiagnosticBranch] DROP COLUMN [EventOccurredDate];
GO

DECLARE @var2 sysname;
SELECT @var2 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[statistics].[Counter]') AND [c].[name] = N'EventOccurredDate');
IF @var2 IS NOT NULL EXEC(N'ALTER TABLE [statistics].[Counter] DROP CONSTRAINT [' + @var2 + '];');
ALTER TABLE [statistics].[Counter] DROP COLUMN [EventOccurredDate];
GO

DECLARE @var3 sysname;
SELECT @var3 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[statistics].[Client]') AND [c].[name] = N'EventOccurredDate');
IF @var3 IS NOT NULL EXEC(N'ALTER TABLE [statistics].[Client] DROP CONSTRAINT [' + @var3 + '];');
ALTER TABLE [statistics].[Client] DROP COLUMN [EventOccurredDate];
GO

DECLARE @var4 sysname;
SELECT @var4 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[statistics].[ClerkEvent]') AND [c].[name] = N'EventOccurredDate');
IF @var4 IS NOT NULL EXEC(N'ALTER TABLE [statistics].[ClerkEvent] DROP CONSTRAINT [' + @var4 + '];');
ALTER TABLE [statistics].[ClerkEvent] DROP COLUMN [EventOccurredDate];
GO

DECLARE @var5 sysname;
SELECT @var5 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[statistics].[Clerk]') AND [c].[name] = N'EventOccurredDate');
IF @var5 IS NOT NULL EXEC(N'ALTER TABLE [statistics].[Clerk] DROP CONSTRAINT [' + @var5 + '];');
ALTER TABLE [statistics].[Clerk] DROP COLUMN [EventOccurredDate];
GO

DECLARE @var6 sysname;
SELECT @var6 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[statistics].[Activity]') AND [c].[name] = N'EventOccurredDate');
IF @var6 IS NOT NULL EXEC(N'ALTER TABLE [statistics].[Activity] DROP CONSTRAINT [' + @var6 + '];');
ALTER TABLE [statistics].[Activity] DROP COLUMN [EventOccurredDate];
GO

DELETE FROM [__EFMigrationsHistory]
WHERE [MigrationId] = N'20230312193419_EventOccurredDate';
GO

COMMIT;
GO


