
BEGIN TRANSACTION;
GO

ALTER TABLE [statistics].[Client] DROP CONSTRAINT [FK_Client_TransferReason_TransferReasonId];
GO

ALTER TABLE [statistics].[Event] DROP CONSTRAINT [FK_Event_TransferReason_TransferReasonId];
GO

DROP TABLE [statistics].[TransferReason];
GO

DROP INDEX [IX_Event_TransferReasonId] ON [statistics].[Event];
GO

DROP INDEX [IX_Client_TransferReasonId] ON [statistics].[Client];
GO

DECLARE @var0 sysname;
SELECT @var0 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[statistics].[Event]') AND [c].[name] = N'TransferReasonId');
IF @var0 IS NOT NULL EXEC(N'ALTER TABLE [statistics].[Event] DROP CONSTRAINT [' + @var0 + '];');
ALTER TABLE [statistics].[Event] DROP COLUMN [TransferReasonId];
GO

DECLARE @var1 sysname;
SELECT @var1 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[statistics].[Client]') AND [c].[name] = N'TransferReasonId');
IF @var1 IS NOT NULL EXEC(N'ALTER TABLE [statistics].[Client] DROP CONSTRAINT [' + @var1 + '];');
ALTER TABLE [statistics].[Client] DROP COLUMN [TransferReasonId];
GO

DELETE FROM [__EFMigrationsHistory]
WHERE [MigrationId] = N'20230324102011_TransferReason';
GO

COMMIT;
GO


