BEGIN TRANSACTION;
GO

ALTER TABLE [statistics].[Branch] DROP CONSTRAINT [FK_Branch_Branch_ParentBranchId];
GO

DROP INDEX [IX_Branch_ParentBranchId] ON [statistics].[Branch];
GO

DECLARE @var0 sysname;
SELECT @var0 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[statistics].[Branch]') AND [c].[name] = N'ParentBranchId');
IF @var0 IS NOT NULL EXEC(N'ALTER TABLE [statistics].[Branch] DROP CONSTRAINT [' + @var0 + '];');
ALTER TABLE [statistics].[Branch] DROP COLUMN [ParentBranchId];
GO

DELETE FROM [__EFMigrationsHistory]
WHERE [MigrationId] = N'20230626124444_ParentBranch';
GO

COMMIT;
GO


